<h1><%= @repo.title  %></h1>

<% @repo.resources_by_language.each do |language, resources| %>
    <%= language %> Resources:
    <p></p>
      <% resources.each do |resource| %>
        <%= link_to resource.title, resource_path(resource.id) %>
        <p></p>
    <% end %>
    <br>
<% end %>


<%= link_to 'New Resource', new_resource_path(:repo_id => @repo.id) %>
